body {
    background-color: rgb(2, 2, 2);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.board-container {
    display: inline;
    box-sizing: border-box;
}

.title {
    position: fixed;
    color: rgb(247, 245, 243);
bottom:1.8vh;
    /* left:40vw; */
    /* margin: 0px; */
    font-size: 1em;
    left:35vw;
    /* width: 50vw; */
    /* top: 2vh; */
    font-size:2em;
}

td {
    box-sizing: border-box;
    width: 4vw;
    height: 4vh;
}



.transparent {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.timer,
.counter {
    display: inline-block;
    font-size: 10px;
    width: 13vw;
    left: 400px;
    color: red;
    background-color: #888;
    border: 1px solid white;
    box-shadow: inset 0px 0px 4px 0px black;

}

.game-container {
    box-sizing: border-box;
    position: fixed;
    padding: 30px;
    border: 10px groove white;
    width: 100vw;
    height: 100vh;
    background-color: lightslategrey;
    cursor: pointer;
}

.shown {
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px solid black;
    width: 1em;
    height: 1em;
}
.hidden {
    box-sizing: border-box;
    background-color: orange;
    border: 2px solid black;
    width: 1em;
    height: 1em;
}

.hints {
    position:fixed;
    top:2vh;
    left:88vw;
    font-size: 2em;
    
}

.hinted {
    border: 2px solid red;
}

.modal {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    height: 100vh;
    position: fixed;
    top: 0vh;
    border: 5px solid black
}

.level {
    position: relative;
    left: 33vw;
    margin: 10px;
    border-radius: 10px;
    color: red;
    background-color: lightblue;
    width: 30vw;
    line-height: 10vh;
    border: 2px solid black;
    font-size: 1.2em;
}

.level:hover {
    background-color: orange;
    cursor: pointer;
}

.welcome {
    font-size: 2em;
    color: orange;
    margin-top:.1em;
}
.level-title{
    margin:1em;
    color:red;
    font-size:1.4em;
}

.winLoose {
    position: fixed;
    top: 0;
    /* left: 10vw; */
    width: 100vw;
    line-height: 100vh;
    background-color: rgba(250, 251, 250, 0.459);
    font-size: 10em;
    color: rgb(241, 50, 200);
}


.bigCell {
    box-sizing: border-box;
    width: 18vw;
    height: 18vh;
    font-size: 4em;
}

.mediumCell {
    box-sizing: border-box;
    width: 10vw;
    height: 10vh;
    font-size: 2em;
}

.smallCell {
    box-sizing: border-box;
    width: 6vw;
    height: 6vh;
    font-size: 10px;
}

.display {
    font-size: 2em;
}
.speaker{
    position:fixed;
    /* background-image: url('./sounds/speaker.png'); */
    /* width:10px; */
    line-height: 1em;
    z-index: 3;
    font-size: .4em;
    left:5vw;
    top:5vh;
    /* margin:2vh; */
    /* border:1px solid black; */
    /* border-radius:50%; */
    /* padding:1em; */
}
